* { font-family: "Helvetica" }

h1 {
	text-align: center;
	font-weight: 200;
}

#board {
	padding-top: 50px;
	margin: auto;
	width: 270px;
}

.position {
	font-size: 60px;
	display: inline-block;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 15px;
}